:root {
    --componentsWidth: 90%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF7979;
    padding: 5.75rem 0 4.25rem;
    row-gap: 3.75rem;
}

.text-container {
    width: var(--componentsWidth);
    text-align: center;
    color: #fff;
}

.text-container__tittle {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 2rem;
}

.text-container__paragraph {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: var(--componentsWidth);
}

.form-container__form-description {
    text-align: center;
    padding: 1.125rem 4rem;
    border-radius: 10px;
    background-color: #5E54A4;
    color: #fff;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    font-weight: 400;
}

.form-container__form-description--bold {
    font-weight: bold;
}

.form-container__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1.5rem;
    row-gap: 1rem;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

.form-container__input {
    font-size: 1rem;
    color: #3D3B48;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    padding: 1rem 1.3rem;
    font-weight: 600;
}

.form-container__button {
    color: #fff;
    border: none;
    background-color: #38CC8B;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    padding: 1rem 3rem;
    cursor: pointer;
}

.form-container__terms-services {
    margin: 0 auto;
    width: 85%;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    color: #BAB7D4;

}

.form-container__terms-services--red {
    color: #FF7979;
    font-weight: 700;
    line-height: 1.3rem;
}

@media (min-width: 1000px) {
    body {
        flex-direction: row;
        column-gap: 10rem;
        max-width: 80%;
        margin: 0 auto;
    }

    .text-container {
        text-align: left;
        width: 70%;
    }

    .text-container__tittle {
        font-size: 4rem;
        line-height: 65px;
    }

    .text-container__paragraph {
        font-size: 1rem;
        line-height: 26px;
    }

    .form-container {
        width: 70%;

    }

}